.mapboxgl-popup-content {
    border-radius: 10px;
    border: 1px solid rgb(154, 52, 18);
    padding: 10px; /* Add padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow */
    color: #333333; /* Set text color */
    font-size: 14px; /* Set font size */
    font-family: 'Montserrat'
    
  }

.mapboxgl-popup-content-wrapper {
    padding: 1%; /* Remove the default padding */
  }