
.mapboxgl-popup-close-button button {
  color:black;
  font-size: 35px;
  padding-top: 7px;
  padding-right: 5px;
 }


  .on-hover .mapboxgl-popup-tip {
    display: none;
    }


.marker-popup-content {
 
  top: -120px; /* Adjust this value to position it precisely on top of the marker */
  left: -105px; /* Adjust this value to position it precisely on top of the marker */


 
  padding: 10px;
  
  z-index: 999;
  width: 200px; /* Adjust this value as needed */
      
    }